{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block namespace %}about{% endblock %}

{% block content %}

<section class="wrapper">
    <div class="title">
        <h2>about me</h2>
        <div></div>
    </div>
    <div class="about-grid">
        <div class="grid-item">
            <div class="img-container">
                <img src="{{ url_for('static', filename='tamara naunovic.jpg') }}" alt="" >
            </div>
        </div>
        <div class="grid-item">
            <div class="p-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ducimus eligendi nulla blanditiis officiis itaque sapiente, iste esse vero accusantium ipsam? Modi itaque accusantium omnis ex voluptatum neque suscipit culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ducimus eligendi nulla blanditiis officiis itaque sapiente, iste esse vero accusantium ipsam? Modi itaque accusantium omnis ex voluptatum neque suscipit culpa</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}