{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block namespace %}home{% endblock %}

{% block content %}

<section class="home">
    <div>
        <h1>My awesome portfolio website!!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni sint reprehenderit vel, veniam ducimus maxime architecto porro nihil dolore assumenda consectetur, quae explicabo accusantium. Soluta eaque dignissimos, suscipit quod, iste explicabo atque quidem quam, commodi hic asperiores accusamus! Earum perspiciatis minus debitis similique? Neque debitis reprehenderit laborum non deleniti corrupti?</p>
        <a href="{{ url_for('projects') }}" class="cta">Projects</a>
    </div>
</section>

{% endblock %}