{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block namespace %}projects{% endblock %}

{% block content %}

<section class="wrapper">
    <div class="title">
        <h2>my projects</h2>
        <div></div>
    </div>
    <div class="projects-grid">
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
        <div class="card">
            <div class="bg-img"></div>
            <div class="content">
                <h4>Title</h4>
                <p>Content....</p>
                <button>Github</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}